<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Projectors</h4>
        </div>

        <div class=" card-footer">
          <a class="btn btn-outline-success" routerLink="/add-projector"> Add Projector</a>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>Name</th>
                  <th>Model</th>
                  <th>Serial Number</th>
                  <th>Status</th>
                  <th>Created At</th>
                  <th>Updated At</th>
                  <th> Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let projector of projectors">
                  <td> {{projector.projectorName}} </td>
                  <td> {{projector.projectorModel}} </td>
                  <td> {{projector.projectorSerialNumber}} </td>
                  <td> {{projector.projectorStatus}} </td>
                  <td> {{projector.createdAt}} </td>
                  <td> {{projector.updatedAt}} </td>
                  <td>
                    <button class="btn btn-outline-info" [routerLink]="">

                      <i class="fa-solid fa-eye"></i>
                    </button>
                    <a class="btn btn-outline-success" [routerLink]="">
                      <i class="fa-solid fa-square-pen"></i>
                    </a>
                    <button class="btn btn-outline-danger">
                      <i class="fa-solid fa-trash-can"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>