
<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">Departments</h4>
          </div>
          <div class=" card-footer">
            <button class=" btn btn-fill" type="submit">Add New Department</button>
          </div>
          <div class=" card-body">
            <div class=" table-responsive">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Description</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor = "let department of departments">
                    <td> {{department.departmentId}} </td>
                    <td> {{department.departmentName}} </td>
                    <td> {{department.departmentCode}} </td>
                    <td> {{department.departmentDescription}} </td>
                    <td> {{department.createdAt}} </td>
                    <td> {{department.updatedAt}} </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>