
<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">Bookings</h4>
          </div>

          <div class=" card-footer">
            <button class=" btn btn-fill" type="submit">Make a New Booking</button>
          </div>
          <div class=" card-body">
            <div class=" table-responsive">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <tr>
                    <th>Name</th>
                    <th>Borrowed By</th>
                    <th>Model</th>
                    <th>Serial Number</th>
                    <th>Borrowed Date</th>
                    <th>Return Date</th>
                    <th>Status</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor = "let booking of bookings">
                    <td> {{ booking.assetName }} </td>
                    <td> {{ booking.borrowedBy }}</td>
                    <td> {{ booking.model }} </td>
                    <td> {{ booking.serialNumber }} </td>
                    <td> {{ booking.borrowedDate }}</td>
                    <td> {{ booking.returnDate }}</td>
                    <td> {{ booking.status }} </td>
                    <td> {{ booking.createdAt | date }} </td>
                    <td> {{ booking.updatedAt | date }} </td>
                    <td>
                      <!-- Actions -->
                      <button class="btn btn-outline btn-success" [routerLink]="'/edit-booking/' + booking.bookingId">
                        <i class="tim-icons icon-pencil"> </i> 
                      </button>
                      &nbsp;
                      <button class="btn btn-fill btn-danger">
                        <i class="tim-icons icon-trash-simple" (click)="deleteBooking(booking.bookingId)"></i>
                      </button>
                      </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>