
<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">People</h4>
          </div>
          <div class=" card-footer">
            <button class=" btn btn-fill" type="submit">Add People</button>
          </div>
          <div class=" card-body">
            <div class=" table-responsive">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Designation</th>
                    <th>Cell Number</th>
                    <th>Email</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let person of people">
                    <td> {{person.id}} </td>
                    <td> {{person.name}} </td>
                    <td> {{person.department}} </td>
                    <td> {{person.designation}} </td>
                    <td> {{person.cell_number}} </td>
                    <td> {{person.email}} </td>
                    <td> {{person.created_at}} </td>
                    <td> {{person.updated_at}} </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>