
<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">Laptops</h4>
          </div>
          <div class=" card-footer">
            <button class=" btn btn-fill" type="submit">Add New Laptop</button>
          </div>
          <div class=" card-body">
            <div class=" table-responsive">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Model</th>
                    <th>Brand</th>
                    <th>Serial Number</th>
                    <th>Processor</th>
                    <th>RAM</th>
                    <th>Storage</th>
                    <th>Status</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let laptop of laptops">
                    <td>{{ laptop.id}}</td>
                    <td>{{ laptop.name}}</td>
                    <td>{{ laptop.model}}</td>
                    <td>{{ laptop.brand}}</td>
                    <td>{{ laptop.serial_number}}</td>
                    <td>{{ laptop.processor}}</td>
                    <td>{{ laptop.ram}}</td>
                    <td>{{ laptop.storage}}</td>
                    <td>{{ laptop.status}}</td>
                    <td>{{ laptop.created_at}}</td>
                    <td>{{ laptop.updated_at}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>