<div class=" content">
    <div class=" row">
        <div class=" col-md-8">
            <div class=" card">
                <div class=" card-header">
                    <h5 class=" title">Update Department: {{ department.departmentName}}</h5>
                </div>
                <div class=" card-body">
                    <form (ngSubmit)="onSubmit()">
                        <div class=" row">
                            <div class=" col-md-5 pr-md-1">
                                <div class=" form-group">
                                    <label> Department Name </label>
                                    <input class=" form-control" placeholder="Name" type="text"
                                        [(ngModel)]="department.departmentName" name="departmentName" />
                                </div>
                            </div>
                            <div class=" col-md-5 px-md-1">
                                <div class=" form-group">
                                    <label> Department Code </label>
                                    <input class=" form-control" placeholder="Code" type="text" value="department.departmentCode"
                                        [(ngModel)]="department.departmentCode" name="departmentCode" />
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class=" col-md-10 pr-md-1">
                                <div class=" form-group">
                                    <label> Description </label>
                                    <input class=" form-control" placeholder="Description" type="text"
                                        [(ngModel)]="department.departmentDescription" name="departmentDescription"/>
                                </div>
                            </div>
                        </div>
                        <button class=" btn btn-outline-success" type="submit">Update Department</button>
                    </form>
                </div>
            </div>
        </div>